@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --box-shadow-color: rgba(33, 33, 33, 0.5);
}

.light_theme{
  --main-color: rgb(245, 245, 245);
  --light-main-color: rgb(254, 254, 254);
  --second-color: rgba(54, 54, 54, 1);
  --day-bg-color: rgba(154, 154, 154, 0.1);
  --border-color: rgba(154, 154, 154, 0.5);
  --control-background: rgba(33, 33, 33, 0.15);
}

.dark_theme{
  --main-color: rgb(26, 26, 26);
  --light-main-color: rgb(36, 36, 37);
  --second-color: rgb(195, 195, 195);
  --day-bg-color: rgba(0, 0, 0, 0.1);
  --border-color: rgba(0, 0, 0, 0.5);
  --control-background: rgba(255, 255, 255, 0.15);
}

.react_datepickerrz  * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.react_datepickerrz  *::selection{
  background: transparent
}

.icons {
  fill: var(--second-color);
}

.react_datepickerrz_container {
  display: flex;
}

.react_datepickerrz {
  position: relative;
}

.react_datepickerrz  .input_field::selection{
  background-color: var(--second-color);
  color: var(--main-color)
}

.react_datepickerrz  .input_field{
  padding: 5px 0px;
  border: 1px solid var(--border-color);
  background-color: var(--main-color);
  color: var(--second-color);
  font-size: 15px;
  border-radius: 3px;
  outline: none;
  width: 210px;
  text-align: center;
  box-shadow: var(--box-shadow-color) 0px 0px 4px -2px;
}

.react_datepickerrz  .calander_container {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  min-width: 180px;
  position: absolute;
  top: 50px;
  left: 0px;
  border: 1px solid var(--border-color);
  background-color: var(--main-color);
  font-size: 15px;
  border-radius: 3px;
  box-shadow: var(--box-shadow-color) 0px 0px 4px -2px;
}

.react_datepickerrz  .calander_header_container .cart{
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  background-color: var(--main-color);
  border-left: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  border-top-left-radius: 3px;
  position: absolute;
  left: calc(50% - 6px);
  top: -9px;
  transform: rotate(45deg);
  box-shadow: var(--box-shadow-color) -1px -1px 2px -2px;
}

.react_datepickerrz  .calander_header_container {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: var(--second-color);
  height: 60px;
  padding: 5px;
  border-radius: 3px;
  box-shadow: var(--box-shadow-color) 0px 2px 2px -2px;
  z-index: 2;
}

.react_datepickerrz  .calander_header_container .control,
.react_datepickerrz  .calander_header_container .week_days {
  display: flex;
  height: 30px;
}

.react_datepickerrz  .calander_header_container .control .prev,
.react_datepickerrz  .calander_header_container .control .next{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
}

.react_datepickerrz  .calander_header_container .control .prev svg,
.react_datepickerrz  .calander_header_container .control .next svg{
  display: block;height: 10px;
  width: 10px;
}

.react_datepickerrz  .calander_header_container .control .display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.react_datepickerrz  .calander_header_container .control .display p{
  font-size: 13px;
}

.react_datepickerrz  .calander_header_container .control .display .month,
.react_datepickerrz .calander_header_container .control .display .year{
  display: flex;
  height: 100%;
  justify-content:center;
  align-items: center;
  padding: 0 5px;
}

.react_datepickerrz .calander_header_container .control .prev,
.react_datepickerrz .calander_header_container .control .next{
  margin: 0 1px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 250ms ease;
}

.react_datepickerrz .calander_header_container .control .prev:hover,
.react_datepickerrz .calander_header_container .control .next:hover{
  background-color: var(--control-background);
}

.react_datepickerrz .calander_header_container .week_days{
  justify-content: space-around;
  align-items: center;
}

.react_datepickerrz .calander_header_container .week_days .w-day{
  width: calc(100% / 8);
  text-align: center;
  font-size: 12px;
  padding: 3px;
  border-radius: 3px;
}

.react_datepickerrz .calander_body_container {
  display: flex;
  background-color: var(--light-main-color);
  width: 100%;
  padding: 5px;
}

.react_datepickerrz .calander_body_container .days_container{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.react_datepickerrz .calander_body_container .days_container .day {
  display: flex;
  width: calc((100% / 7) - 2px);  
  margin: 1px
}

.react_datepickerrz .calander_body_container .days_container .day:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.react_datepickerrz .calander_body_container .days_container .day .day_contianer{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: all 250ms ease;
}

.react_datepickerrz .calander_body_container .days_container .day .day_contianer:hover{
  background-color: var(--day-bg-color);
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow-color) 0px 0px 2px 0px;
}

.react_datepickerrz .calander_body_container .days_container .day .day_text {
  color: var(--second-color);
  font-size: 13px;    
  transition: 250ms ease forwards
}

.react_datepickerrz .calander_body_container .days_container .day.active .day_text{
  color: var(--main-color);
}

.react_datepickerrz .calander_body_container .days_container .day.active .day_contianer{
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow-color) 0px 0px 2px 0px;
}